<div class="main-div">
    <div class="search-input">
        <input type="text" placeholder="Search Station" (keyup)="updateFilter($event)" />
    </div>

    <ngx-datatable #table class="material new-styled" [columns]="columns" [headerHeight]="50" [footerHeight]="50"
        [rows]="rows" [rowHeight]="'auto'" [columnMode]="'force'" [limit]="page.limit" [offset]="page.offset"
        [sortType]="'multi'">

        <ngx-datatable-column name="Station" prop="stationName">
            <ng-template let-value="value"> {{value}} </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Docks" [sortable]="false">

            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="docks">
                    <span class="available">{{row.availableDocks}}</span>
                    <span class="total">{{row.totalDocks}}</span>
                </div>
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Status" prop="statusValue">
            <ng-template let-value="value"> {{value}} </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Available Bikes" prop="availableBikes">
            <ng-template let-value="value"> {{value}} </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Last Communication" prop="lastCommunicationTime">
            <ng-template let-value="value"> {{value | niceDateFormatPipe}} </ng-template>
        </ngx-datatable-column>


        <!-- <ngx-datatable-column [sortable]="true">
            <ng-template let-column="column" ngx-datatable-header-template>
                Docks
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="docks">
                    <span class="available">{{row.availableDocks}}</span>
                    <span class="total">{{row.totalDocks}}</span>
                </div>
            </ng-template>
        </ngx-datatable-column> -->



    </ngx-datatable>
</div>