
@font-face {
  font-family: 'Calibri-Bold';
  src: url('Calibri-Bold.eot?#iefix') format('embedded-opentype'),  url('Calibri-Bold.woff') format('woff'), url('Calibri-Bold.ttf')  format('truetype'), url('Calibri-Bold.svg#Calibri-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
